# Importing the Data

In [2]:
import pandas as pd 
covid = pd.read_csv('/kaggle/input/covid-world-vaccination-progress/country_vaccinations.csv')

#reviewing the first 5 rows of the data
covid.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...

# Exploring General Functions

.melt(): unpivot a DF from wide to long format

In [7]:
# name = country, value = people vaccinated
covid.melt(id_vars=['country'], value_vars=['people_vaccinated'])

       country           variable    value
0      Albania  people_vaccinated      0.0
1      Albania  people_vaccinated      NaN
2      Albania  people_vaccinated    128.0
3      Albania  people_vaccinated    188.0
4      Albania  people_vaccinated    266.0
...        ...                ...      ...
5231  Zimbabwe  people_vaccinated  21456.0
5232  Zimbabwe  people_vaccinated  25077.0
5233  Zimbabwe  people_vaccinated  27970.0
5234  Zimbabwe  people_vaccinated  30658.0
5235  Zimbabwe  people_vaccinated  31325.0

[5236 rows x 3 columns]

In [6]:
# eg. unpivot multiple columns (date and people_vaccinated) as well as change column names
covid.melt(id_vars=['country'], value_vars=['date','people_vaccinated'], var_name='New_Var', value_name='New_Value')

        country            New_Var   New_Value
0       Albania               date  2021-01-10
1       Albania               date  2021-01-11
2       Albania               date  2021-01-12
3       Albania               date  2021-01-13
4       Albania               date  2021-01-14
...         ...                ...         ...
10467  Zimbabwe  people_vaccinated     21456.0
10468  Zimbabwe  people_vaccinated     25077.0
10469  Zimbabwe  people_vaccinated     27970.0
10470  Zimbabwe  people_vaccinated     30658.0
10471  Zimbabwe  people_vaccinated     31325.0

[10472 rows x 3 columns]

.pivot(): produces pivot tables based on 3 columns of the DF

In [8]:
covid.pivot('country','date','people_vaccinated')

date,2020-12-08,2020-12-09,2020-12-10,2020-12-11,2020-12-12,2020-12-13,2020-12-14,2020-12-15,2020-12-16,2020-12-17,...,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28,2021-03-01,2021-03-02,2021-03-03,2021-03-04,2021-03-05
country,,,,,,,,,,,,,,,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2390.0,NaN,2526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,513394.0,558831.0,620635.0,694470.0,731571.0,755212.0,823446.0,874916.0,941695.0,1030504.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45237143.0,46074392.0,47184199.0,48435536.0,49772180.0,50732997.0,51755447.0,52855579.0,54035670.0,55547697.0
Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,370.0,NaN,18420.0,33137.0,54475.0,63437.0,70408.0
Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wales,NaN,NaN,NaN,NaN,NaN,8257.0,NaN,NaN,NaN,NaN,...,889270.0,902334.0,916336.0,923615.0,925669.0,933485.0,942017.0,951540.0,967042.0,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7872.0,11007.0,12579.0,15705.0,18843.0,21456.0,25077.0,27970.0,30658.0,31325.0

.crosstab(): Compute a simple cross tabulation of two (or more) factors. By default computes a frequency table of the factors unless an array of values and an aggregation function are passed.

In [11]:
pd.crosstab(covid.country, covid.people_vaccinated)

people_vaccinated,0.0,1.0,5.0,13.0,18.0,20.0,26.0,30.0,35.0,52.0,...,45237143.0,46074392.0,47184199.0,48435536.0,49772180.0,50732997.0,51755447.0,52855579.0,54035670.0,55547697.0
country,,,,,,,,,,,,,,,,,,,,,
Albania,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Andorra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anguilla,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Argentina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Australia,7,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Uruguay,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Venezuela,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wales,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zimbabwe,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

.unique(): used to view all type of unique values in a certain column

In [12]:
# view all unique values of the country column
covid['country'].unique()

array(['Albania', 'Algeria', 'Andorra', 'Anguilla', 'Argentina',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bermuda', 'Bolivia',
       'Brazil', 'Bulgaria', 'Cambodia', 'Canada', 'Cayman Islands',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Estonia', 'Faeroe Islands',
       'Falkland Islands', 'Finland', 'France', 'Germany', 'Gibraltar',
       'Greece', 'Greenland', 'Guatemala', 'Guernsey', 'Guyana',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kuwait', 'Latvia',
       'Lebanon', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Malaysia', 'Maldives', 'Malta', 'Mauritius', 'Mexico', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Myanmar',
       'Nepal', 'Netherlands', 'New Zealand', 'Northern Cyprus',
       'Northern Ireland', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Saint Helena', 'San Marino', 'Saudi Arabia',
       'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Thailand',
       'Trinidad and Tobago', 'Turkey', 'Turks and Caicos Islands',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Venezuela', 'Wales', 'Zimbabwe'],
      dtype=object)

pd.isna(): detect missing values for an array like object

In [20]:
pd.isna(covid)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,False,False,False,False,False,True,True,True,False,False,True,True,False,False,False
1,False,False,False,True,True,True,True,False,True,True,True,False,False,False,False
2,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
5232,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
5233,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
5234,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
5235,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False

pd.to_numeric(): converts the whole database or sectioned database to a numeric value

In [ ]:
pd.to_numeric(covid.people_vaccinated)